@charset "UTF-8";

body{

        background-image: linear-gradient(to right, #005C53 50%, #042940 );
        padding-top: 5%;
}

main#prom{

    background-color:#9FC131 ;
    margin: auto;
    padding: 10%;
    width: 40%;


}
main#secon{
        background-color:#D6D58E ;
        width: 20%;
        padding: 3%;
        padding-bottom: 5%;
        padding-top: 5%;
        margin-top: -58%;
        margin-left: 65%;
        box-shadow: -10px 2px 30px black;

        

}
main#Sticker{
    background-color: #1b8177;
    width: 20%;
    padding: 5%;
    margin-top: 29%;
    margin-left:4%;
    
}

.enfase{
    text-align: center;
    font-family: fantasy;
    font-size: 100%;
}

h1#principal{

    text-align: center;
    text-transform: uppercase;

}
p{
    text-align: justify;
}
p#bilhete{
    text-align: center;
    
    color: rgb(80, 46, 5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
h2{
    text-transform: capitalize;
}